
.navbar {
  grid-column-start: 1;
  grid-column-end: 4;
}

.bg1{
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 5;
  background-image: url("./assets/Cap_Left.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px 50px;

}

.bg2 {
  grid-column-start: 3;
  grid-row-start: 2;
  height: 100%;
  background-image: url("https://images8.alphacoders.com/378/378546.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 1px 0;
}

.content {
  grid-row-start: 2;
  grid-column-start: 2;
}

.App {
  background: black;
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 50px 90%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;

  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
