.banner {
  background: #FFF8DC;
  padding: 20px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  color: black !important;
}

hr {
  border: none;
  height: 2px;
  background: rgba(0, 0, 0, .3);

}
h1 {
  text-align: left;
  vertical-align: top;
  position: relative;
  bottom: 25px;
}

.icon {
  background: black;
}
img {
  width:  215px;
  margin-bottom: 10px;
}
p {
  margin-top: 20px;
  color: white;
}
.Home {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100px 1fr 100px

}
