.movie-img {
  width: 200px !important;
  max-height:300px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-title{
  height: 70px;
}
img {
  max-width: inherit;
  max-height: inherit;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  height: 400px;
  margin: 10px 10px 50px 10px;

}
.movies-list {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  max-width: 700px;
  justify-content: center;

}

.all-movies {

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.movie-title {
  font-size: 20px;
}
