.movie-img {
  width: 200px !important;
  max-height:200px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: inherit;
  max-height: inherit;
}
.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}
.movies-list {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  max-width: 700px;
  justify-content: center;
}

.movie-title {
  font-size: 20px;
}
