.nav {

  display: flex !important;
  justify-content: flex-start;
  align-items: center;

}

.btn-add {
  margin-right: 5px;
}

.btn-login {
  margin-right: 3px;
}

.navbar-right {
  padding-top:7px;
}

.navbar-header {
  position: relative;
  right: 15px;
  color: black !important;

}

.nav-bar {
  min-width: 100%;
}
.dropdown-open .dropdown-toggle .caret {
  display: none;
}
.caret {
  /*display: none;*/
}

.dropdown {
  margin-top: 8px;
  max-width: 100px;
}

.navbar-inverse {
  flex-flow: row !important;
  position: fixed;
  top: 0px;
  width: 100%;
}

.navbar {
  width: 100%;
  border-radius: 0 !important;
}

.container {
  width: 100%;
}
