.nav {

  display: flex !important;
  justify-content: flex-start;
  align-items: center;

}

.nav-bar {
  min-width: 100%;
}

.caret {
  display: none;
}

.dropdown {
  margin-top: 8px;
  max-width: 100px;
}

.navbar-inverse {
  flex-flow: row !important;
}
.navbar {
  width: 100%;
  border-radius: 0 !important;
}

.container {
  width: 100%;
}
